@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
body, p, h1, ul, li, blockquote{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: sans-serif;
}
li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: white;
}

body{
    background-color: #1d1d1d;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr;
    grid-template-areas: 
        "nav front back outros"
        "nav front back outros"
        "nav front back outros"
    ;
    gap: 60px;
    
}

/* NAVBAR */


.nav{
    grid-area: nav;
    background: #181818;
    display: grid;
    grid-template-rows: 60px 2fr 60px;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.pages a{
    display: block;
    height: 60px;
}
.pages img + img{
    margin-bottom: 15px;
}

.logo-pequeno{
    width: 24px;
    margin-left: 20%;
}
.home li{
    content: url("../img/icons/home.svg");
}
.home:hover li{
    content: "Home";
    color: #08fdd8;
    transition: all .3s;
}
.home:hover li::after{
    content: "home";
    transition: all .3s;
    font-size: 12px;
    text-transform: uppercase;
}

.sobre li{
    content: url("../img/icons/user.svg");
}
.sobre:hover li{
    content: "Sobre";
    color: #08fdd8;
    transition: all .3s;
}
.sobre:hover li::after{
    content: "Sobre";
    transition: all .3s;
    font-size: 12px;
    text-transform: uppercase;
}

.projetos li{
    content: url("../img/icons/eye.svg");
}
.projetos:hover li{
    content: "projetos";
    color: #08fdd8;
    transition: all .3s;
}
.projetos:hover li::after{
    content: "projetos";
    transition: all .3s;
    font-size: 12px;
    text-transform: uppercase;
}

.contato li{
    content: url("../img/icons/email.svg");
}
.contato:hover li{
    content: "contato";
    color: #08fdd8;
    transition: all .3s;
}
.contato:hover li::after{
    content: "contato";
    transition: all .3s;
    font-size: 12px;
    text-transform: uppercase;
}


/* FRONT!! */

.front{
    grid-area: front;
    align-self: center;
    justify-self: center;
    background-color: #24253c;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 0px rgba(255, 255, 255, 0.15);
}
.skills__image{
    width: 100px;
    margin: 8px 34%;
    filter: invert(1);
}
.front h2{
    max-width: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    margin: 15px auto;
}
.front li{
    text-align: center;
    font-size: 20px;
}
.front li + li{
    margin-top: 20px;
}

/* BACK!!! */
.back{
    grid-area: back;
    align-self: center;
    justify-self: center;
    background-color: #757d8a;
    width: 350px;
    height: 535px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 0px rgba(255, 255, 255, 0.15);
}
.back h2{
    max-width: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    margin: 15px auto;
}
.back li{
    text-align: center;
    font-size: 20px;
}
.back li + li{
    margin-top: 20px;
}

/* OUTROS!! */
    
.outros{
    grid-area: outros;
    align-self: center;
    justify-self: center;
    background-color: #24253c;
    width: 350px;
    height: 535px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 0px rgba(255, 255, 255, 0.15);
}
.outros h2{
    max-width: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    margin: 15px auto;
}
.outros li{
    text-align: center;
    font-size: 20px;
}
.outros li + li{
    margin-top: 20px;
}
@media (max-width: 700px){
    body{
        grid-template-areas: 
        "nav nav nav nav"
        "front front front front"
        "back back back back"
        "outros outros outros outros"
    ;
    gap: 0;
    }
    .nav{
        display: grid;
        grid-template-columns: 60px auto;
        height: 60px;
    }
    .logo{
        margin-right: 20%;
    }
    .pages{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 80%;
        height: 100%;
        flex-direction: row !important;
    }
    .link{
        display: none;
    }
    .front{
        margin: 30px auto;
        width: 80%;
    }
    .back{
        margin: 30px auto;
        width: 80%;
    }
    .outros{
        margin: 30px auto;
        width: 80%;
    }
}


